html{
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
}

.font-awesome{
  color: #274f73;
  display: inline-block;
}

/* DESKTOP VIEW OF OUR NAVBAR */

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #274f73;
  font-family: "Poppins", sans-serif;
}

.nav-links{
   display: flex; /* THIS MAKES OUR NAVLINKS HORIZONTAL */
   width: 80%; /* ONCE HORIZONTAL, THIS INCREASES THE WIDTH OF OUR LINKS (BEAR IN MIND THE MOBILE VIEW WHEN SETTING THIS!) */
   justify-content: space-around; /* ONCE INCREASED, THIS SPACES OUT OUR LINKS MAKING THEM MORE ORGANIZED */
}

.nav-links li{
  list-style: none; /* THIS GETS RID OF THE BULLET POINTS IN FRONT OF EACH NAVLINK */
}

.gold{
  color: #ead94c;
}

.nav-links a:hover{
  color: #ead94c;
}

.nav-links .gold{
  color: #ead94c;
}

.nav-links .gold:hover{
  color: #fff;
}

.nav-links a{
  color: #fff; /* THIS CHANGES THE COLOUR OF OUR NAVLINS TO WHITE */
  text-decoration: none; /* THIS GETS RID OF THE UNDERLINE ON OUR NAVLINKS */
  letter-spacing: 2px; /* THIS SPACES OUT THE ALPHABETS IN THE WORDINGS OF OUR NAVLINKS */
  font-size: 14px;
  text-transform: uppercase; /*this capitalizes the text in our navbar*/
}

.burger{
  display: none; /* THIS HIDES OUR BURGER ICON ON THE DESKTOP VIEW */
}

.burger div{ /* THIS CREATES A BURGER ICON FOR THE MOBILE VIEW OF OUR NAVBAR*/
  width: 25px; /*SETS THE WIDTH OF EACH LINE OF THE BURGER ICON*/
  height: 3px; /*SETS THE HEIGHT OF EACH LINE OF THE BURGER ICON*/
  background-color: #fff; /*SETS THE BACKGROUND COLOUR OF THE BURGER ICON*/
  margin: 5px; /*CREATES SPACE BETWEEN EACH LINE OF THE BURGER ICON*/
  transition: 0.5s ease; /*THIS CAUSES THERE TO BE A GRADUAL PROGRESSION IN THE ANIMATION OF OUR BURGER ICON*/
}





/* MOBILE VIEW OF OUR NAVBAR */

@media screen and (max-width: 968px) {
  body{
    overflow-x: hidden; /*this hides away the dropdown that overflows the screen to the right on the x-axis (horizontal axis)*/
  }

  nav .logo img {
    width: 70%;
  }

  .nav-links{ /* THIS CODES (I.E. POSITION, RIGHT AND HEIGHT MAKE THE NAVLINKS AND BUTTTON DISAPPEAR ON MOBILE)). IT ALSO CREATES THE MOBILE DROPDOWN NAVBAR */
    position: absolute;
    right: 0;
    height: 92vh; /*creates the height of the dropdown*/
    width: 50%; /*creates the width of the dropdown*/
    margin-top: 0; /*ensures that there is no spacing between the dropdown and the navbar above it*/
    top: 8vh; /*This carries the dropdown up and down vertically. It should correspond to min-height used for the nav */
    background-color: #274f73;
    display: flex; /*serves as a pre-creator to the dropdown*/
    flex-direction: column; /*creates the dropdown*/
    align-items: center; /*This makes our navlinks and buttton come to the center of the dropdown*/
    transform: translateX(100%); /*this moves the whole dropdown off the screen*/
    transition: transform 0.5s ease-in; /*This transitions the transform. That is, the dropdown leaves the screen gradually and not at once*/
    z-index: 200; /*This makes the dropdown to be above everything on screen*/
}
  .nav-links li{
    opacity: 0; /*this modifies our dropdown such that at first the links and butttons are not seen, before they slowly appear*/
  }

  .burger{
    display: inline; /*This makes our burger icon reappear after the dropdown has been removed*/
  }
}


/*BACK TO DESKTOP VIEW*/

.nav-active{ /*note that this class is only activated by javascript*/
  transform: translateX(0%); /*when we click on the burger, the navigation should get the zero transform, that is it comes onscreen*/
}

@keyframes navLinkFade {  /* Animation for our links inside our navbar dropdown. Used inside Javascript */
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}


 /* Animating our burger NOTE: FOLLOW THE SYNTAX HERE RELIGIOUSLY!*/
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px); /*while the rotate(45deg) tries to rotate the line, the translate function has some impact on it that I don't understand but which causes it not to rotate */
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}


/*CAROUSEL SECTION*/
.hero-1{
  background-image: url(https://images2.imgbox.com/93/f2/yWgW0och_o.jpg);
  background-repeat: repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  height: 92vh;
  position: relative;
  text-align: center;
}

.hero-2{
  background-image: url(https://images2.imgbox.com/54/e4/iE1DVizG_o.jpg);
  background-repeat: repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  background-position: center;
  height: 92vh;
  position: relative;
  text-align: center;
}

.carousel-text{
  font-family: "Roboto Condensed", sans-serif;
  color: #d1d1d1;
  text-align: center;
  position: absolute;
  padding: 15%; /*It is preferable and more screen-responsive to use padding (in %) to position elements when using, "position: absolute;" */
  z-index: 1;
}


.big-title{
  font-weight: 600;
}

/*EVENTS SECTION*/
.btn{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #274f73;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  width: 15rem;
}

.btn:hover{
  background: #ead94c;
  text-decoration: none;
}

.events{
  padding: 2%;
  background-color: #51a3a3;
  color: white;
  position: relative;
}

.event-items{
  display: inline-block;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .btn{
    width: 100%;
    padding: 8px 20px;
  }

  .last-week-sermon .btn{
    width: 12rem;
    padding: 15px 20px;
  }
}

.events-btn{
  position: absolute;
  bottom: 35%;
  right: 50px;
}

@media screen and (max-width: 768px){
  .events-btn{
    position: static;
  }
}

/*LAST WEEK SERMON SECTION*/
.last-week-sermon{
  padding: 2%;
  opacity: 0;
  transform: scale(0.1);
  transition: all 1s ease-in;
}

.last-week-sermon-active{
  opacity: 1;
  transform: scale(1);
}

.last-week-sermon-img{
  width: 100%;
  height: 100%;
}

.sermons{
  margin-bottom: 0;
}

.underline1{
  height: 5px;
  width: 65px;
  background-color: #ead94c;
  margin-top: 0;
  margin-bottom: 15px;
}

.last-week-sermon-text{
  padding-top: 8%;
}



/*OUR MINISTRIES SECTION*/
.our-ministries{
  margin: 40px 0;
}

.our-ministries-title {
  text-align: center;
}

.underline2{
  height: 5px;
  width: 110px;
  background-color: #ead94c;
  margin: 0 auto 15px;
}

.our-ministries-title-wordings{
  margin-bottom: 0;
}

.col-lg-6{
  padding: 2% 0 2% 2%;
}

.col-lg-12{
  padding-left: 2%;
}

.children-ministry{
  background-image: url(https://images2.imgbox.com/a8/48/WavQsypt_o.jpg);
  background-size: cover;
  height: 50vh;
  position: relative;
}

.women-ministry{
  background-image: url(https://images2.imgbox.com/d7/dc/huxeNNBq_o.jpg);
  background-size: cover;
  height: 50vh;
  position: relative;
}

.men-ministry{
  background-image: url(https://images2.imgbox.com/1d/59/17CukcED_o.jpg);
  background-size: cover;
  height: 50vh;
  position: relative;
}

.our-ministries-row-1{
  padding: 0;
  margin: 0 2% 0 0;
  color: #fff;
}

.our-ministries-row-2{
  padding: 1%;
  margin: 0;
  color: #fff;
}

.inline-block{
  display: inline-block;
}

.text-our-ministries{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.our-ministries-button{
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 768px){
  .our-ministries-button{
    position: absolute;
    padding: 20px 20px 20px 20px;
    width: 7rem;
  }
}

/*OUR GALLERY SECTION*/
.wrapper{
  width: 100%;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
}
.gallery .image{
  padding: 1px;
  width: calc(100% / 4);
  cursor: pointer;
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}

.preview-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  background: #fff;
  max-width: 50%;
  width: 100%;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  border-radius: 3px;
  padding: 0 5px 5px 5px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}
.preview-box.show{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.3s ease;
}
.preview-box .details{
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 10px;
  justify-content: space-between;
}
.preview-box .details .title{
  display: flex;
  font-size: 18px;
  font-weight: 400;
}
.details .title p{
  margin: 0 5px;
}
.details .title p.current-img{
  font-weight: 500;
}
.details .icon{
  color: #007bff;
  font-size: 20px;
  cursor: pointer;
}
.preview-box .image-box{
  display: flex;
  width: 100%;
  position: relative;
}
.image-box .slide{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  height: 50px;
  width: 60px;
  line-height: 50px;
  text-align: center;
  border-radius: 3px;
}
.slide.prev{
  left: 0;
}
.slide.next{
  right: 0;
}
.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}
.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}

@media(max-width: 1000px){
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .image{
    width: calc(100% / 2);
    padding: 4px;
  }
}

.our-gallery-title{
  text-align: center;
}

.our-gallery-title-wordings{
  margin-bottom: 0;
}

.underline3{
  height: 5px;
  width: 86px;
  background-color: #ead94c;
  margin: 0 auto 15px;
}

.our-gallery-title{
  margin:3em auto 1.2em;
}
